<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title></title>
        <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
        crossorigin="anonymous">
        <link rel="stylesheet" href="/stylesheets/style.css">
        <style type="text/css">
            table {
                font-family: arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }
    
            td {
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
    
            th {
                border: 1px solid #dddddd;
                text-align: center;
                padding: 8px;
                background-color: #30039b;
                text-emphasis-color: #dddddd;
                color: #dddddd;
            }
            
    
            tr:nth-child(odd) {
                background-color: #bbe2fa !important;
            }
            tr:nth-child(odd) {
                background-color: white;
            }
    
            body{
                background-image: url("../images/back.jpg");
                background-repeat: no-repeat;
                background-size:cover;
            }
    
        </style>
    
        
    <script>

            function validateForm() {
                var x = document.forms["myform"]["status"].value;
                var y = document.forms["myform"]["comment"].value;
                if (x == "") {
                    alert("Please check the details entered");
                    return false;
                }
                if (y == "") {
                    alert("Please check the details entered");
                    return false;
                }
            }
        </script>
    </head>
    <body>
        <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 35px;color: rgb(0, 0, 0);position: absolute; top: 15px; left: 40px">  <%= fullName %></h4>
        <div class="main">
            <% if(taskHistory.length > 0)
            {%>
                <table>
                    <tr>
                        <th>Task ID</th>
                        <th>Task Name</th>
                        <th>FromUser </th>
                        <th>ToUser </th>
                        <th>Category Name</th>
                        <th>Start Date</th>
                        <th>End Date</th>
                        <th>Status Name</th>
                        <th>Ticket History Date</th>
                        <th>Comment</th>
                    </tr>
                    <% 
                    for(var i=0;i<taskHistory.length; i++)
                    { 
                    %>
                    <td><%= taskHistory[i].taskId_TicketHistory %></td>
                    <td><%= taskHistory[i].taskName_TicketHistory %></td>
                    <td><%= taskHistory[i].FromUser %></td>
                    <td><%= taskHistory[i].ToUSER  %></td>
                    <td><%= taskHistory[i].categoryName_Category %></td>
                    <td><%= taskHistory[i].startDate_TicketHistory %></td>
                    <td><%= taskHistory[i].endDate_TicketHistory %></td>
                    <td><%= taskHistory[i].statusName_TaskStatus  %></td>
                    <td><%= taskHistory[i].ticketHistoryDate_TicketHistory %></td>
                    <td><%= taskHistory[i].comment_TicketHistory %></td>
                        </tr> 
                    <%}
                %>
            </table>
            <%}%>
           
            
            

            <form name = "myform" onsubmit="return validateForm()" method="POST" action="/detailed_assigned_task">       
                <div class="form-group">
                    <div class="row">
                        <div class="wrapper1">
                            <label for="status">STATUS</label><br>
                            <select name="status" id="status" class="form-control">
                                    <option value = "">-----------</option>
                                    <% for(var i=0; i<statuses.length; i++) {%>
                                        <option value="<%=  statuses[i].statusId_TaskStatus %>"><%=  statuses[i].statusName_TaskStatus %></option>
                                    <% } %>
                            </select>
                        </div>
                    </div>
                </div>

                <div class="form-group">  
                    <div class="row">
                        <div class="wrapper1">
                            <label for="comment">COMMENT</label>
                            <input id="comment" type="text" placeholder="Comment" name="comment" class="form-control">
                        </div>
                    </div>
                </div>
                <button class="btn btn-secondary btn-right" type="reset">Clear</button>
                <button class="btn btn-primary btn-right" type="submit">Submit</button>
                    <!-- <a href="./cat_admin" class="button pull-right">HOME</a> -->
            </form>
        </div>
        <% if(is_admin) {%>
            <a href="./cat_admin"  class="topright2">HOME</a>
        <% } else {%>
            <a href="./user_login"  class="topright2">HOME</a>
        <% }%>
        <a href="/" class="topright">LOGOUT</a>
    </body>
</html>