<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title></title>
    <script type="text/javascript" src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <style type="text/css">
        table {
            font-family: arial, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

        td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            border: 1px solid #dddddd;
            text-align: center;
            padding: 8px;
             background-color: #30039b; 
            text-emphasis-color: #dddddd;
            color: #dddddd;
        }
        

        tr:nth-child(odd) {
            background-color: #bbe2fa;
        }
        /* tr:nth-child(odd) {
            background-color: white;
        } */

         body{
            background-color: #ffffff;
            background-repeat: no-repeat;
            background-size:cover;
        } */

    </style>
     
     <script>
        function myFunction(id){
            window.open("/detailed_assigned_task?task_id="+id,"_self");
        }
    
    </script>

</head>
<body>
    <h4 style="font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;font-size: 35px;color: rgb(3, 3, 3);position: absolute; top: 15px; left: 40px">  <%= fullName %> </h4>
    <div class="main">
        <% if(tasks.length > 0)
        {%>
            <table>
                <tr>
                    <th>Task Name</th>
                    <th>Task Description</th>
                    <th>Category Name</th>
                    <th>ToUser</th>
                    <th>FromUser</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status Name</th>
                </tr>
                <% for(var i=0;i<tasks.length; i++)
                {%>
                    <tr onclick="myFunction(this.id)" id= <%= tasks[i].taskId_Task %> >

                        <td><%= tasks[i].taskName_Task %></td>
                        <td><%= tasks[i].taskDesc_Task %></td>
                        <td><%= tasks[i].categoryName_Category %></td>
                        <td><%= tasks[i].ToUSER %></td>
                        <td><%= tasks[i].FromUser %></td>
                        <td><%= tasks[i].startDate_Task %></td>
                        <td><%= tasks[i].endDate_Task %></td>
                        <td><%= tasks[i].statusName_TaskStatus %></td>
                    </tr>            
                <%}%>
           </table>
        <%} else { %>
            <h3 style="font-family: 'Courier New', Courier, monospace; position:absolute; top:100px; left:400px;right:200px;"><b>Oops,Task is not assigned !!</b> </h3>
        <%}%> 
    </div>   
</div>
<% if(is_admin) {%>
    <a href="./cat_admin" class="topright2">HOME</a>
<% } else {%>
    <a href="./user_login"  class="topright2">HOME</a>
<% }%>
    <a href="/" class="topright">LOGOUT</a>
</div>
</body>